

<!-- add content here -->
<h1>Edit <%=@landmark.name%></h1>

<form method='post' action='/landmarks/<%=@landmark.id%>'>
  <input id='hidden' type='hidden' name='_method' value="patch">
  
  <
  
  <input type="submit" value="Edit Figure">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
